html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

#main-body{
    background: rgb(171, 171, 171) url("../img/bg_main.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson1{
    background: rgb(67, 72, 36) url("../img/bg_l1.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson2{
    background: rgb(75,122,166) url("../img/bg_l2.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson3{
    background: rgb(96,84,76) url("../img/bg_l3.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson4_1{
    background: rgb(255,209,107) url("../img/tamagotchi.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson4_2{
    background: rgb(24,28,55) url("../img/bg_l4_2.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson5 {
    background: rgb(24,28,55) url("../img/bg_l5.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lesson6 {
    background: rgb(24,28,55) url("../img/bg_l6.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-body .wrapper1 {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(66,81,120,0.9);
    color: rgb(255, 255, 255);
}

#main-body .wrapper2 {
    margin: 55px;
    padding: 0;
    min-height: 200px;
    background: transparent;
}

#lesson1 .wrapper {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(67, 72, 36,0.9);
    color: rgb(255, 255, 255);
}

#lesson2 .wrapper {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(75,122,166,0.9);
    color: rgb(255, 255, 255);
}

#lesson3 .wrapper {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(96,84,76,0.85);
    color: rgb(255, 255, 255);
}

#lesson4_1 .wrapper {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(255,209,107,0.9);;
    color: rgb(255, 255, 255);
}

#lesson4_2 .wrapper {
    margin: 55px;
    padding: 20px;
    min-height: 200px;
    background: rgba(24,28,55,0.9);
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 24px;
    text-align: center;
}

h5 {
    font-size: 18px;
    text-align: center;
}

ul.nav {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin: 15px 25px;
}

ul.method {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin: 15px;
}

li {
    text-decoration: none;
    padding: 15px;
    list-style: none;
    margin: 0;
    width: auto;
}

a, p {
    text-decoration: none;
    color: rgb(209, 206, 169);
    padding: 5px 0;
    margin: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    color: rgb(185, 255, 6);
}

span {
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

.method div,
div.practice {
    padding: 10px 15px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    background: rgba(171, 171, 171, 0.5);
    word-wrap: break-word;
    font-size: 12px;
    margin: 0.5em 0 1em 0;
    letter-spacing: 1.5px;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
    padding: 10px 15px;
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0.7em 0 0.5em 0;
    border: none;
    background: #ddd;
}

a.button {
    display: inline-block;
    margin: 10px auto;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
    font-family: Helvetica, arial, serif;
    text-align:center;
    font-size:24px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
}

a.button:hover,
a.button:focus {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
}

.effect {
    background: rgba(66,81,120,0.9);
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.caption {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    color: #fff;
}

.caption p {
    text-align: center;
    font-style: italic;
    padding: 15px 10px;
}

div.effect a.btn-round {
    position: relative;
    display: block;
    text-align: center;
    width: 150px;
    height: 150px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px auto;
    font-size: 17px;
}

div.effect a.btn-round span {
    position: absolute;
    top: 60px;
    right: 15%;
    left: 15%;
}
