html {
    background: rgb(171, 171, 171) url("../img/phone.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100vh;*/
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

/*Grid*/

.container {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    margin: 0;
    padding: 0;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
}

/*@media (min-width: 576px) {*/
    /*.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
    /*}*/
/*}*/

.col-xs-1 {
    float: left;
    width: 8.333333%;
}

.col-xs-2 {
    float: left;
    width: 16.666667%;
}

.col-xs-3 {
    float: left;
    width: 25%;
}

.col-xs-4 {
    float: left;
    width: 33.333333%;
}

.col-xs-5 {
    float: left;
    width: 41.666667%;
}

.col-xs-6 {
    float: left;
    width: 50%;
}

.col-xs-7 {
    float: left;
    width: 58.333333%;
}

.col-xs-8 {
    float: left;
    width: 66.666667%;
}

.col-xs-9 {
    float: left;
    width: 75%;
}

.col-xs-10 {
    float: left;
    width: 83.333333%;
}

.col-xs-11 {
    float: left;
    width: 91.666667%;
}

.col-xs-12 {
    float: left;
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-1 {
        float: left;
        width: 8.333333%;
    }
    .col-sm-2 {
        float: left;
        width: 16.666667%;
    }
    .col-sm-3 {
        float: left;
        width: 25%;
    }
    .col-sm-4 {
        float: left;
        width: 33.333333%;
    }
    .col-sm-5 {
        float: left;
        width: 41.666667%;
    }
    .col-sm-6 {
        float: left;
        width: 50%;
    }
    .col-sm-7 {
        float: left;
        width: 58.333333%;
    }
    .col-sm-8 {
        float: left;
        width: 66.666667%;
    }
    .col-sm-9 {
        float: left;
        width: 75%;
    }
    .col-sm-10 {
        float: left;
        width: 83.333333%;
    }
    .col-sm-11 {
        float: left;
        width: 91.666667%;
    }
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        float: left;
        width: 8.333333%;
    }
    .col-md-2 {
        float: left;
        width: 16.666667%;
    }
    .col-md-3 {
        float: left;
        width: 25%;
    }
    .col-md-4 {
        float: left;
        width: 33.333333%;
    }
    .col-md-5 {
        float: left;
        width: 41.666667%;
    }
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-7 {
        float: left;
        width: 58.333333%;
    }
    .col-md-8 {
        float: left;
        width: 66.666667%;
    }
    .col-md-9 {
        float: left;
        width: 75%;
    }
    .col-md-10 {
        float: left;
        width: 83.333333%;
    }
    .col-md-11 {
        float: left;
        width: 91.666667%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        float: left;
        width: 8.333333%;
    }
    .col-lg-2 {
        float: left;
        width: 16.666667%;
    }
    .col-lg-3 {
        float: left;
        width: 25%;
    }
    .col-lg-4 {
        float: left;
        width: 33.333333%;
    }
    .col-lg-5 {
        float: left;
        width: 41.666667%;
    }
    .col-lg-6 {
        float: left;
        width: 50%;
    }
    .col-lg-7 {
        float: left;
        width: 58.333333%;
    }
    .col-lg-8 {
        float: left;
        width: 66.666667%;
    }
    .col-lg-9 {
        float: left;
        width: 75%;
    }
    .col-lg-10 {
        float: left;
        width: 83.333333%;
    }
    .col-lg-11 {
        float: left;
        width: 91.666667%;
    }
    .col-lg-12 {
        float: left;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        float: left;
        width: 8.333333%;
    }

    .col-xl-2 {
        float: left;
        width: 16.666667%;
    }

    .col-xl-3 {
        float: left;
        width: 25%;
    }

    .col-xl-4 {
        float: left;
        width: 33.333333%;
    }

    .col-xl-5 {
        float: left;
        width: 41.666667%;
    }

    .col-xl-6 {
        float: left;
        width: 50%;
    }

    .col-xl-7 {
        float: left;
        width: 58.333333%;
    }

    .col-xl-8 {
        float: left;
        width: 66.666667%;
    }

    .col-xl-9 {
        float: left;
        width: 75%;
    }

    .col-xl-10 {
        float: left;
        width: 83.333333%;
    }

    .col-xl-11 {
        float: left;
        width: 91.666667%;
    }

    .col-xl-12 {
        float: left;
        width: 100%;
    }
}

/*Other style*/

.wrapper {
    margin: 35px;
    padding: 20px;
    min-height: 200px;
    background: rgba(81, 102, 101, 0.9);
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 24px;
    text-align: center;
}

h5 {
    font-size: 18px;
    text-align: center;
}

ul.nav {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin: 15px 25px;
}

ul.method {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin: 15px;
}

li {
    text-decoration: none;
    padding: 15px;
    list-style: none;
    margin: 0;
    width: auto;
}

li a,
p {
    text-decoration: none;
    color: rgb(209, 206, 169);
    padding: 5px 0;
    margin: 0;
}

li a:hover,
li a:focus{
    text-decoration: none;
    color: rgb(185, 255, 6);
}

span {
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

.method div {
    padding: 10px 5px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    background: rgba(171, 171, 171, 0.5);
    word-wrap: break-word;
    font-size: 12px;
    margin: 5px;
}

a.button {
    margin: 25px auto;
    border: 1px solid rgb(171, 171, 171);
    background: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
}

a.button:hover,
a.button:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgba(171, 171, 171, 0.8);
}

.center {
    text-align: center;
}