html {
    background: rgb(171, 171, 171) url("../img/phone.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 35px;
    padding: 15px;
    background: rgba(81, 102, 101, 0.9);
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 24px;
    text-align: center;
}

h5 {
    font-size: 18px;
    text-align: center;
}

ul.nav,
ul.method {
    display: inline-block;
    width: 25%;
    margin: 15px auto;
}

li {
    text-decoration: none;
    padding: 15px;
    list-style: none;
}

li a,
p {
    text-decoration: none;
    color: rgb(209, 206, 169);
}

li a:hover,
li a:focus{
    text-decoration: none;
    color: rgb(185, 255, 6);
}

span {
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

.method div {
    padding: 10px 15px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    background: rgba(171, 171, 171, 0.5);
    word-wrap: break-word;
}

a.button {
    margin: 25px auto;
    border: 1px solid rgb(171, 171, 171);
    background: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
}

a.button:hover,
a.button:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgba(171, 171, 171, 0.8);
}

.center {
    text-align: center;
}