/*===================
 page Lesson 5 style, TodoList ...
 ====================*/

.todo-header input {
  background-color: rgba(247, 246, 246, 0.78);
  border: 2px solid #72E3FC;
  border-radius: 15px;
  height: 34px;
  width: 95%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0 40px 0 10px;
}

.todo-header input:focus {
  outline: none;
}

.todo-header {
  color: #72E3FC;
  font-size: 35px;
  width: 100%;
  padding: 10px 0;
}

#todo {
  margin: 0;
  padding: 0;
}

#todo li {
  font-size: 16px;
  margin: 0;
  padding: 10px 50% 10px 10px;
  position: relative;
  clear: both;
  overflow: hidden;
}

#todo li::before {
  content: '✓';
  font-size: 16px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #6BE4FF;
  font-weight: bold;
}

#todo li.edit::after {
  content: 'edit';
  font-size: 16px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #6BE4FF;
  font-weight: bold;
}

.todo-header .add-btn,
#btn-archive,
.sort-btn {
  -webkit-appearance: button;
  cursor: pointer;
  height: 34px;
  background-color: #6BE4FF;
  border: none;
  border-radius: 15px;
  color: #858585;
  font-size: 14px;
}

.todo-header .add-btn {
  margin-left: -40px;
}

#btn-archive,
.sort-btn {
  margin: 5px 0 5px 10px;
  padding: 5px 13px;
}

a.remove-btn {
  position: absolute;
  top: 5px;
  right: 2px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: #858585;
  padding: 0px 11px;
  display: block;
  background: #6BE4FF;
  width: auto;
  height: 34px;
  margin: 0;
  font-size: 16px;
  line-height: 34px;
  text-shadow: none;
}

.todo-header .add-btn:hover,
a.remove-btn:hover,
#todo span:hover,
#btn-archive:hover,
.sort-btn:hover {
  background-color: #58D2ED;
}

#todo span,
#btn-archive,
.sort-btn {
  min-width: 85px;
  text-align: center;
}

span.done {
  position: absolute;
  top: 0;
  right: 40px;
  display: block;
  background: #6BE4FF;
  width: auto;
  height: 34px;
  margin: 5px 0;
  border: 1px solid #72E3FC;
  border-radius: 15px;
  line-height: 34px;
  text-shadow: none;
  cursor: pointer;
  color: #858585;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
}

#todo li.checkedNot {
  background: transparent;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#todo li.checked {
  background: rgba(45, 34, 34, 0.2);
  color: #fff;
  text-decoration: line-through;
}

#alert {
  padding: 10px 25px 0;
}

#tint {
  padding: 25px 20px;
  margin: 10px auto;
  width: 85%;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  background: rgba(34, 125, 171, 0.5);

  .water:nth-child(even) {
    color: #0b97c4;
    font-size: 50px;
    margin: 25px;
  }

  .water:nth-child(odd) {
    color: #0010c4;
    font-size: 65px;
    margin: 20px;
  }
}

@media (max-width: 798px) {
  #tint .water:nth-child(even),
  #tint .water:nth-child(odd) {
    font-size: 25px;
    margin: 3px;
  }
}

#tint .outer {
  * {
    padding: 0;
    margin: 0;
    outline: none;
  }
  body {
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  .wrapper {
    display: table;
    table-layout: fixed;
    height: 257px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  .wrapper.grid {
    border-color: transparent;
  }
  .wrapper.grid .item {
    border-color: transparent;
    color: transparent;
  }
  .col {
    display: table-cell;
  }
  .item {
    display: block;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(0,0,0,.1);
    color: #ddd;
  }
  .item.active {
    background: #ddd;
    color: #aaa;
  }
  .item.water {
    animation: add .6s forwards;
  }
  .item.water:nth-last-child(1) {animation-delay: .3s;}
  .item.water:nth-last-child(2) {animation-delay: .4s;}
  .item.water:nth-last-child(3) {animation-delay: .5s;}
  .item.water:nth-last-child(4) {animation-delay: .6s;}
  .item.water:nth-last-child(5) {animation-delay: .7s;}
  .item.water:nth-last-child(6) {animation-delay: .8s;}
  .item.water:nth-last-child(7) {animation-delay: .9s;}
  .item.water:nth-last-child(8) {animation-delay: 1s;}
  .item.water:nth-last-child(9) {animation-delay: 1.1s;}
  .item.water:nth-last-child(10) {animation-delay: 1.2s;}
  button {
    display: inline-block;
    border: none;
    background: #659;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 10px;
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
  }
  button:hover {
    box-shadow: inset 1000px 0 0 0 rgba(0,0,0,.3);
  }
  button:active {
    box-shadow: inset 1000px 0 0 0 rgba(255,255,255,.3);
  }
  button:focus {
    box-shadow: inset 1000px 0 0 0 rgba(255,255,255,.3);
  }
  nav {
    text-align: left;
    margin-top: 20px;
  }
  nav span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    margin: 10px 0;
    color: #777;
    line-height: 20px;
    font-size: 16px;
    font-family: monospace;
    letter-spacing: -1px;
  }
  .info {
    position: relative;
  }
  .info #status {
    position: absolute;
    top: 0; right: 0;
    font-size: 20px;
    font-family: monospace;
    line-height: 30px;
  }
  .outer {
    max-width: 1000px;
    margin: 0 auto;
  }
  @keyframes add {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(.9);
    }
    60% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
      background: #59b;
      border-color: #48a;
    }
  }
}

#archive-list {
  margin: 5px 5px 5px 70px;
  padding: 5px;
}

#archive-list li {
  color: rgb(226, 212, 203);
  font-size: 16px;
  padding: 3px;
  line-height: 1;
  text-align: right;

  &::after {
    content: '✓';
    font-size: 16px;
    display: block;
    float: right;
    margin-left: 5px;
    color: #f34754;
    font-weight: bold;
  }
}

/*Lesson 5-6 task 3 maket*/

#maket .container-fluid {
  max-width: 675px;
}

.img-maket img {
  width: 50%;
  height: auto;
}

.maket-menu::after,
.maket-welcome::after,
.maket-text-block::after,
.small-block::after {
  content: "";
  display: table;
  clear: both;
}

.maket-header {
  background: rgb(153, 204, 1);
  background: -webkit-linear-gradient(rgb(118, 151, 21), rgb(153, 204, 1));
  background: -o-linear-gradient(rgb(118, 151, 21), rgb(153, 204, 1));
  background: -moz-linear-gradient(rgb(118, 151, 21), rgb(153, 204, 1));
  background: linear-gradient(rgb(118, 151, 21), rgb(153, 204, 1));
}

#maket {
  h2 {
    font-size: 32px;
    font-family: Helvetica, arial, serif;
    text-align: left;
    font-weight: 100;
    margin: 0;
    padding: 30px;
    color: #093500;
  }

  h2 span {
    font-weight: 700;
    color: #093500;
  }

  h3 {
    text-align: left;
    padding: 0 0 0 15px;
    margin: 0;
    color: #093500;
    //font-family: "Myriad  Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
  }

  p:first-line {
    color: rgb(128, 166, 15);
    font-size: 11px;
    font-weight: 700;
  }

  p + p:first-line {
    color: #093500;
    font-size: 10px;
    font-weight: 400;
  }

  p {
    padding: 15px 0 0 15px;
    //font-family: Tahoma;
    line-height: 14px;
    color: #093500;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.1px;
  }

  p, a {
    color: #093500;
  }

  .maket-title h2 {
    padding: 27px 0 28px 35px;
  }

  .maket-title a,
  .maket-title a span {
    color: rgb(255, 255, 255);
  }

  a:hover,
  a:focus {
    color: rgb(128, 166, 15);
  }
}

.maket-menu li a {
  //font-family: "Myriad  Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
}

.maket-title a:hover,
.maket-title a:focus {
  color: rgb(128, 166, 15);
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.maket-menu {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.maket-menu li {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}

.maket-menu li img {
  width: auto;
  margin: 0 auto;
}

.maket-menu li:first-child {
  list-style-image: none;
}

.maket-menu li a:hover,
.maket-menu li a:focus {
  color: rgb(128, 166, 15);
}

.maket-welcome {
  background: rgb(238, 240, 252);
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
}

.small-block img {
    width: 141px;
    height: 94px;
}

#maket .maket-welcome .block {
  float: left;
  width: 50%;
  margin: 0;
  padding: 15px 0;
  text-align: left;
}

#maket .maket-welcome .block h2 {
  margin-left: -49px;
  padding: 10px 0;
  color: #093500;
  font-family: Helvetica, arial, serif;
  font-size: 32px;
  line-height: 14px;
}

.maket-text-block .block:first-child,
.small-block .block:first-child {
  float: left;
  width: 40%;
  margin: 0;
  padding: 15px;
  text-align: left;
  position: relative;
}

.maket-text-block > .block:first-child:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 30px;
  border-right: 2px solid rgb(238, 240, 252);
}

.maket-text-block .block:last-child,
.small-block .block:last-child {
  float: left;
  width: 60%;
  margin: 0;
  padding: 15px;
  text-align: left;
}

.block hr {
  clear: both;
  float: none;
  width: 95%;
  height: 2px;
  margin: 15px auto;
  border: none;
  background: rgb(238, 240, 252);
}

#maket .small-block > .block {
  margin: 0;
  padding: 0;
}

.line {
  clear: both;
  float: none;
  width: 100%;
  height: 5px;
  margin: 0 auto;
  border: none;
  background: rgb(238, 240, 252);
}

.maket-footer {
  padding: 26px 0 27px 30px;
  color: #093500;
  //font-family: Tahoma;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.1px;
}

@media (max-width: 798px) {
  .maket-menu li,
  #maket .maket-welcome .block,
  #maket .block {
    width: 100%;
  }
  .maket-menu li:after {
    content: "";
    margin: 0 auto;
    padding: 5px 0;
  }

  #maket .maket-welcome .block {
    width: 100%;
    min-height: 190px;
  }

 .maket-welcome img {
    width: 100%;
    position: relative;
  }

  #maket .maket-welcome .block h2 {
    margin-left: 15px;
  }

  #maket .small-block > .block img {
    margin: 15px;
  }
}